
/* Navbar */
nav h1 {
    text-align: center;
    float: none;
    padding-top: 20px;
}


nav ul {
    float: none;
    list-style: none;
}


nav ul li {
    float: none;
}


nav ul li a {
    display: block;
    padding: 5px;
    text-align: center;
}


/* Showcase */
#showcase {
    background: url("../images/show-case.jpeg") no-repeat center center/cover;
    height: 100%;
}


#showcase .content {
    padding-bottom: 30px;
    padding-top: 70px;
}


#showcase a {
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
}


/* Home Info Section */
#home-info {
    height: 700px;
}


#home-info .info-image {
    display: none;
}


#home-info .info-content {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: auto auto;
    overflow: scroll;
}


/* Features section */
.box {
    margin-top: 15px;
    clear: both;
    float: none;
    width: 100%;
    height: 350px;
    padding: 50px;
    text-align: center;
}


/* About page styles */
#about-info .info-right, #about-info .info-left {
    float: none;
    width: 100%;
    min-height: 100%;
}


#about-info .info-left h1 {
    text-align: center;
}


#about-testimonials h2 {
    color: white;
    line-height: 1.2;
}

